<%= form_with(model: @invoice, local: true) do |form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% @invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :invoice_number %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, id: :invoice_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :user_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :customer_id %>
  </div>

  <div class="field">
    <%= form.label :status%>
    <%= form.text_field :status, id: :status %>
  </div>

  <div class="field">
    <%= form.label :amount%>
    <%= form.text_field :amount, id: :amount%>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :currency%>
  </div>

  <div class="field">
    <%= form.label :items %>
    <%= form.text_field :items, id: :items%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
